.logo:hover {
	-webkit-animation: logo-rotate 1.5s linear infinite;
}


@-webkit-keyframes logo-rotate {

	0% {
		-webkit-transform: rotateY(0deg);
	}

	100% {
		-webkit-transform: rotateY(360deg);
	}

}


.hue {
	-webkit-animation: hue 2s linear infinite;
	-webkit-transition: background-color 2s;
}


@-webkit-keyframes hue {

	0% {
	}

	50% {
		background-color: #2a4f17;
	}

	100% {
	}

}

.earth-section {
	padding: 5em 0;
	background-color: #FFF;
}

.earth-section img {
	display: block;
	margin: 0 auto;
}


.earth-wrapper {
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;
}

.earth {
	position: absolute;
	width: 300px;
	top: 0px;
}

.clouds {
	position: absolute;
	width: 300px;
	top: 0px;

}

