dialog {
}

dialog::backdrop {
	background-color: rgba(80,151,43,0.75);
}

dialog + .backdrop {
	background-color: rgba(80,151,43,0.75);
}

#btn-close {
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 24px;
	color: #fff;
	background-color: #50972B;
	padding: 0;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: -24px;
	right: -24px;
	outline: none;
}
